<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModOrganizerHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ModOrganizerHelper.Properties.Settings>
            <setting name="IniPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Links" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileName" serializeAs="String">
                <value />
            </setting>
        </ModOrganizerHelper.Properties.Settings>
    </userSettings>
</configuration>